#fundraisingSubmenu {
    margin-left: 34px;
    padding-top: 0px;
    padding-bottom: 0;
}
#fundraisingSubmenu ul li a{
    color:  var(--color-green);
} 
#fundraisingSubmenu > .nav-pills .nav-item {
    background-color: var(--control-background-color);
    border: 1px solid var(--control-border-color);
    width: 10%;
}
#fundraisingSubmenu > .nav-pills .nav-item {
    min-width: 150px;
    text-align: center;
}
#fundraisingSubmenu > .nav-pills .nav-link.active {
    background-color: var(--color-green);
    color: var(--background-color);
    border: 1px solid var(--color-dark-green);
}