@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <a href="@Url.Action("Index", "Manage")">
            <img src="~/Images/user_hover.png" height="45" />
        </a>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    }
}
else
{
    <li>
        <a href="@Url.Action("Login",  "Account")">
            <img src="~/Images/user_hover.png" height="45" />
        </a>
    </li>


}
