@*<nav class="navbar navbar-light bg-light" id="fundraisingSubmenu">*@
 <nav class="navbar" id="fundraisingSubmenu">

        <ul class="nav nav-pills">
            <li class="nav-item">
                @Html.ActionLink("Campaigns", "Campaigns", "Fundraising", new { @class = (ViewBag.Title == "Campaigns" ? "nav-link active" : "nav-link") })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Events", "Events", "Fundraising", new { @class = (ViewBag.Title == "Events" ? "nav-link active" : "nav-link") })
            </li>
        </ul>
    </nav>
@*<div class="header-menu">
        <ul class="header-menu-list">
            <li class="header-menu-list-item">@Html.ActionLink("Campaigns", "Campaigns", "Fundraising")</li>
            <li class="header-menu-list-item">@Html.ActionLink("Events", "Events", "Fundraising")</li>
        </ul>
    </div>*@
