@*<h2>Fundraising Links Temporary</h2>*@

<div class="header-menu">
    <ul class="header-menu-list">
        <li class="header-menu-list-item">@Html.ActionLink("Campaigns", "Campaigns", "Fundraising")</li>
        <li class="header-menu-list-item">@Html.ActionLink("Events", "Events", "Fundraising")</li>
    </ul>
</div>
